body {
    width: 100vw;
    height: 100vh;
}

.image {
    width: 70vw;
    height: 70vh;
}

img {
    max-height: 100%;
}

.loading {
    font-size: 10vh;
    color: rgb(123, 123, 123);
}

/* 
    Infinite rotation source:
    https://stackoverflow.com/questions/6410730/css-endless-rotation-animation
*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
@keyframes rotating {
from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}
to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
}
.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}
